:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  
}

body {
  margin: 0;
  min-height: 100%;
  background-color:#fafbfc;
}

#octo-icon {
  height: 2.3rem;
  width: 2.3rem;
  border: 0;
}


header {
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  height: 278px;
  background-color:rgba(255, 255, 255, 0.938);
  height: 64px;
  position:sticky;
  top:0;
  color: black;
  margin-bottom: 2.4rem;
  border-bottom: 1px solid lightgrey;
  opacity: 0.8;
  box-shadow: 0 0.5rem 1.25rem rgba(0,0,0,0.05);  
  
}

.left {
  margin-left:2.5rem;
  display:flex;
  flex-direction:row;
  width:100%
  
}

.right {

  text-align:center;
  width:40rem
}


a {
  color: black;
  text-decoration: none;
}

.o {
  padding-top: 10px;
  padding-left: 6px;
  display: inline;
  vertical-align: middle;
  font-weight: bold;
}


.back {
  font-size: 0.9rem;
  padding-left: 15px;
} 


.follow {
  font-size: 0.9rem;
  height: 1rem;
  margin-left: 6.3rem;
}


img {
  height: 295px;
  width: 320px;
  background-color: white;
  border-radius: 10px;
  margin-left: 1.5rem;
  border: 1px solid rgb(233, 229, 229);
}



div.wrap {

  display: flex;
  flex-direction: column;
  justify-content: center;
  
}


.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 305px;
  margin-left: 1.5rem;
}

div.in-line {
  display: flex;
}


.f {
  padding-top: 10px;
  height: 1rem;
  padding-left: 2rem;
  font-size: 14px;
}

.h {
  padding-top: 10px;
  height: 1rem;
  padding-left: 3rem;
  font-size: 0.9rem;
  color: grey;
}
ul {
  text-decoration: none;
  width: fit-content;
  margin: 0;
}

.smalle-img {
  height: 25px;
  width: 25px;
  margin-top: 7px;
}

h2 {
  margin-top: 17px;
  margin-left: 2px;
  font-size: 1rem;
  height: 40px;
}

div {
  float: left;
  display: table-row;
}
